.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-area: photo-grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  gap: 16px;
  margin: 0;
  padding: 0 48px 92px;
}

@media screen and (max-width: 1279px){
    .photo-grid {
      max-width: 928px;
      gap: 14px;
      margin: 0;
      padding: 0 48px 92px;
    }
}

  @media screen and (max-width: 1023px){
    .photo-grid {
      max-width: 720px;
      gap: 16px;
      margin: 0;
      padding: 0 24px 88px;
    }
}

  @media screen and (max-width: 767px){
    .photo-grid  {
      max-width: 288px;
      gap: 16px;
      margin: 0;
      padding: 0 16px 64px;
    }
}