.cover {
  margin: 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 1140px){
    .cover {
      padding: 46px 0 46px;
    }    
}

@media screen and (max-width: 984px){
    .cover {
      padding: 45px 0 44px;
    }    
}

@media screen and (max-width: 568px){
    .cover {
        padding: 33px 0 0;
    }
}