.cover__overlay {  
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

.cover__overlay::before {
  content: "";
  background: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: opacity 0.2s linear;
}

.cover__overlay:hover::before {
  opacity: 0.7;
}