.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1184px;
  min-height: 18px;
  margin: 0 auto;
  padding: 86px 48px 0px 48px;
} 



@media screen and (max-width: 1140px){
  .footer {
    max-width: 928px;
    padding: 46px 16px 0px 16px;
    
  }    
}

@media screen and (max-width: 984px){
  .footer {
    max-width: 720px;
    padding: 44px 24px 0px 24px;
  }
}

@media screen and (max-width: 568px){
  .footer {
    display: flex;
    flex-direction: column;
    padding: 64px 0px 0px 16px;
  }
}